aiogram==2.11.2
ci-info==0.2.0
export==0.1.2
Flask==1.1.2
freeze==3.0
libpcap==1.10.0b12
mysql-connector-python==8.0.21
networkx==2.5
notebook==5.7.5
options==1.4.10
pandas==1.1.3
pull==0.0.1
pyOpenSSL==20.0.1
pyrsistent==0.16.0
virtualenvwrapper-win==1.2.6
webdriver-manager==3.2.2